body {
    margin: 10%;
   background-color: rgb(244, 245, 245); 
}
button {
    background-color: rgba(255, 1, 1, 0.621);
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 5px;
}
button:hover {
    background-color: rgb(0, 247, 255);
}